<% provide(:title, "Category") %>
<div class="banner-shop"><h2>Category</h2></div>
<%# <%= render 'layouts/result' if @show_search%> 
<div class="category">
    <div class="blog-banner container">
        <h1 class="mb-5">Inspire Daily Reading</h1>
        <h6 class="mb-5">Visit Our Blog and Page Find Out Daily Inspiration Quotes from the best Authors</h6>
        <button class="btn btn-dark px-4">VISIT OUR BLOG</button>
    </div>
    
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-3 sidebar">
                <h3 class="mb-4">Category</h3>
                <p> <%= link_to "All Categories", category_path(category: 0)%> </p>
                <% @categories.each do |category| %>
                    <p> <%= link_to category.name, category_path(category: category.id)%> </p>
                <% end %>
            </div>
            <div class="col-9 content ms-auto">
                <p>Showing all <%=@books.count%> results</p>
                <div class="my-2">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <% @books.each do |book| %>
                            <div class="card-group">
                                <div class="card">
                                    <%= link_to(image_tag(book.img_url, alt: book.title, class: 'card-img-top'), book_path(book))%>
                                    <div class="card-body text-center">
                                        <h6 class="card-title"><%=book.title%></h6>
                                        <p class="card-text"><small class="text-muted"><%=book.author%></small></p>
                                        <p class="card-text text-danger"><b>Price: </b>$ <%=book.price%>.00</p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <%= paginate @books%>
            </div>

        </div>
    </div>
</div>
<div class="discount-banner">
    <h1>Get -30% purchase on order over $299.00</h1>
    <button class="btn btn-dark px-10 btn-lg">MORE INFO</button>
</div>