<% provide(:title, 'My Shop') %>
<h2>Create My Shop</h2>
<!-- Modal Create Shop -->

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">

  <%= form_with(model: @shop, local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: @shop %>
    <%= f.label "Name*" %>
    <%= f.text_field :name, autofocus: true, required: true%>
    <%= f.label "Address*" %>
    <%= f.text_field :address, required: true%>
    <%= f.label "Phone*" %>
    <%= f.text_field :phone, placeholder: '0123456789', required: true %>
    <%= f.label :tax_code %>
    <%= f.number_field :tax_code %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>

  </div>
</div>